header{
	width: 100%;
	height: 60px;
	background-color: #344051;
	font-size:24px

}

.container{
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 200px;
	height: 60px;
	margin-left: 195px;
	line-height: 2;
	color: #fff;
}

.bar{
	width: 100%;
	height: inherit;
}

.bar li{
	color: #fff;
 	float: left;
  padding-right: 7%;;
 	font-size: 16px;
 	line-height: 4;
}
.bar_menu{
	display: block;
	width: 55%;
	height: 60px;
	padding-left: 15%;
}

.container_1{
	width: 100%;
	height: 500px;
	background-image: url("../img/backgrounds/background.png");
	background-repeat: no-repeat;
	z-index: 0;
}

h1{
	font-size: 40px;
	font-weight: 900;
	color: #1a2e43;
}

h2{
	margin-top: 40px;
	margin-bottom: 40px;
}

.foreground{
	padding-top: 200px;
	padding-left: 10%;
	width: 60%;
	height: 180px;
	text-align: center
}

#title_container{
	height: 130px;
	font-size: 24px;
	color: #6d7682;
}

#title_desc{
	margin-top: 10px;
	margin-bottom: 10px;
}

#first_screen_buttons{
	height: 50px;	
}


#about_me_btn{
	width: 80px;
	height: 40px;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
}

#my_works_btn{
	width: 120px;
	height: 40px;
	border: 2px solid #6d7682;
	border-radius: 5px;
	color: #6d7682;
}

.topic_name{
	width: 100%;
	height: 30px;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
}

.topic_line{
	width: 100%:;
	height: 5px;
	text-align: center;
}

.second_screen{
	width: 100%;
	height: 700px;
}

.image_in_circle{
	background-color: #fff;
	width: 100%;
	height: 70px;
	text-align: center;
	margin-top: 20px;
	border: 1px solid #fff;
	border-radius: 50%;
}

.about_me_text{
	width: 100%;
	padding: 20px 25% 0px 25%;
	text-align: center;
	line-height: 20px;
}

.about_me_text p{
	margin-top: 20px;
}

.download_cv_button{
	width: 100%;
	text-align: center;
	padding: 20px 40% 0px 40%;
}

#download_cv_btn{
	width: 130px;
	height: 25px;
	border: 1px solid #6d7682;
	color: #6d7682;
	border-radius: 5px;
	margin-bottom: 70px;
}

.skills_list{
	display: flex;
	width: 80%;
	height:  250px;
	margin: 40px auto 0px auto;
	justify-content: space-between;
}

.skill{
	display: contents;
	margin-right: 30px;
	margin-left: 25%;
	text-align: center;

}


.skills_list li{

	float: left;
	width: 25%;
	height: 220px;
	text-align: center;
	padding-top: 60px;

}

.skill_img{
	width: 60px;
	height: 40px;
}

.skill_name{
	font-size: 16px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	color: 	#e97700;
}

.skill_desc {
	font-size: 14px;
	font-weight:500;
	color: 	#192e42;
	width: 100%;
	padding: 0px 20%;
}

.third_screen{
	width: 100%;
	height: 1500px;
	margin-bottom: 90px;
}

.topic_description{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.example_site_header{
	width: 100%;
	height: 80px;
	background-color: #fff;
}

.site_example_login_bar{
	height: 30px;
	background-color: #567070;
}

.site_example_login_bar ul{
		
		margin-right: 50px;
}

.tel{
			color: #fff;
			font-size: 12px;
			padding-top: 10px;
			margin-left: 112px;
			float:  left;
}

.site_example_login_bar li{
	width:  60px;
	display: inline;
	float: right;
	margin-right: 10px;
	}

	

.site_example_login_bar button{
		color: #fff;
		background-color: #567070;
		float: right;
		padding-top: 6px;

	}

	#login{
		padding-right: 10px;
	}

	.site_example_navbar{
		height: 50px;
		background-color:  #f58852;
		display: flex;
		justify-content: space-evenly;
	}

.open_cloud_logo{
	width: 25%;
    margin-left: 12%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav_list{
	width: 520px;
	height: 50px;
	float: right;
	line-height: 3.5;
	margin-right: 40px;
}

.site_example_navbar li{
	float: right;
	padding-right: 5%;
}

.site_example_navbar button{
	background-color: #f58852;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}

#home_btn{
	width: 70px;
	height: 30px;
	border: 1px solid #cc8755;
	background-color: #cc8755;
	border-radius: 2px;
}

.example_site_advantages_list{
	width: 83%;
	height: 400px;
	background-color: #fff;
	margin-left: 17%;
}

.example_site_advantages_list p{
		background-color: #8d9798;
		color: 	#fff;
		
		text-align: center;
}

.advantage_1{
	width: 400px;
	height: 40px;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  line-height: 190%;
}

.advantage_2{
	width: 265px;
	height: 35px;
	font-size: 13px;
	line-height: 260%;
	margin-bottom: 10px;
}

.advantage_3{
	width: 115px;
	height: 35px;
	font-size: 13px;
	line-height: 260%;
	margin-bottom: 10px;
}

.advantage_4{
	width: 260px;
	height: 35px;
	font-size: 13px;
	line-height: 260%;
	margin-bottom: 10px;
}

.advantage_5{
	width: 160px;
	height: 35px;
	font-size: 13px;
	line-height: 260%;
	margin-bottom: 20px;
}

.see_features_btn{
	width: 160px;
	height: 50px;
	background-color: #f48953;
	border: 1px solid #f48953;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	border-radius: 5px;
	text-align: center;
}

.project_info{
	width: 100%;
	height: 100px;
	color:#1a2e43;
	display: flex;
	justify-content: space-between;
}

.project_data{
	height: 70px;
    padding-left: 10%;
    margin-bottom: 30px;
    line-height: 19px;
}

.project_data h4{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.project_data p{
	font-size: 15px;
}

.client_info{
	float: left;
    padding-left: 17%;
}

.client_info h5{
	font-size: 18px;
	margin-bottom: 10px;
}


.client_info p{
	font-size: 15px;
	margin-bottom: 10px;
}

.visit_site_button{
	margin-top: 25px;
	padding-left: 17%;
}

.visit_site_button button{
	width: 205px;
	height: 45px;
	background-color: #00b6af;
	border: 1px solid;
	color: white;
	font-size: 14px;
  	font-weight: 600;
  	
}

.price_range{
	width: 100%;
	height: 450px;
	margin-top: 100px;
	background-color: #fff;
}

.subtopic_name{
	width: 100%px;
	height: 35px;
	text-align: center;
}

.subtopic_name h3{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 35px;
}

.site_type{
	margin-top: 35px;
}
.price_range h4{
	width: 180px;
	height: 30px;
	margin-left: 13%;
	font-size: 16px;
	font-weight: 600;
	color: #1a2e43;
}

.price_range select{
	width: 67%;
	height: 40px;
	margin-left: 13%;
	margin-bottom: 25px;
	padding-right: 20%;
	color: #737373;
	border: 1px solid #fff;
	box-shadow: 2px 2px #C7BACB;
	background-color: #fff;
}

.option{
	color: #000;
}

.deadline, .price{
	width: 87%;
	height: 30px;
	margin-left: 13%;
}

.deadline h5, .price h5{
	font-weight: 700;
	height: 30px;
}

.deadline input, .price input{
	float: right;
	font-weight: 700;
	font-size: 20px;
}

.fourth_screen{
	width: 100%;
	height: 800px;
	background-color: #fff;
}


.statistics_list{
	width: 80%;
	height:  200px;
	display: flex;
	justify-content: space-between;
	margin: 100px 10% 50px 10%;
}

.statistics_list ul{
	display: contents;
	text-align: center;
}

.statistic_icon{
	margin-bottom: 20px;
	margin-left: inherit;
}

.statistic_number{
	font-size: 20px;
	font-weight: 700;
	color: #1a2e43;
	margin-left: inherit;
	margin-bottom: 10px;
}

.statistic_description{
	font-size: 14px;
	margin-left: inherit;
}

.small_customer_photo{
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.review{
	width: 100%;
	text-align: center;
	margin-top: 10px;
	color: #1a2e43;
}

.review p{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 10px;
}

.switch_review{
	width: 100%;
	height: 30px;
	margin-top: 30px;
	text-align: center;
}

.fith_screen{
	width: 100%;
	height: 800px;
	background-image: url("../img/backgrounds/contacts_bcg.png") ;
	background-repeat: no-repeat;
 	background-position: center;
	color: #fff;
	padding-top: 30px;
}

.contact_options{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 30px 30%;
}


.contact_options ul{
	width: 100%;
	display: contents;
	text-align: center;
	line-height: 1.5;
}

.contacts_icon{
	margin-bottom: 20px;
}


.contact_form{
	width: 85%;
	margin-top: 30px;
	margin-left: 30%;	
}

.subtopic_name{
	margin-bottom: 30px;
}

.box{
	width: 70%;
	height: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.contact_field{
	display: block;
	width: 50%;
	margin-right: 13%;
}

.contact_field input{
	width: 230px;
	height: 30px;
}

.msg{
	width: 42%;
    margin-left: 30%;
}
.contact_message{
	width: 100%;
	margin-bottom: 20px;
}

.contact_message textarea{
	width: 100%;
	resize: none;
}

.contact_submit_button{
	width: 100%;
	height: 50px;
	text-align: center;
}

.contact_submit_button button{
	width: 120px;
	height: 40px;
	text-align: center;
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	font-weight: 700;
}

.social_networks{
	width: 50%;
	margin-top: 121px;
	margin-left: 27%;
	display: flex;
	justify-content: center;
}
.social_networks ul{
	display: contents;
}

.social_networks li{
	width: 35px;
	height: 30px;
	padding-right: 12%;
	opacity: 0;
}


.map{
	width:  100%;
	height:  350px;
	background-color: #fff;
}

footer{
	width: 100%;
	height: 90px;
	background-color: #2c3e51;
	color:  #fff;
	text-align: center;
	padding-top: 45px;
	font-size: 15px;
}
